@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&family=Rubik+Wet+Paint&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 5px;
}
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #eee;
  padding: 8px;
}
::-webkit-scrollbar-thumb {
  background: #0d9488;
  border-radius: 12px !important;
  margin: 8px !important;
  border: 1px solid #eee;
}
.active {
  background-color: #f3f4f6 !important;
  border-radius: 8px;
  color: #000 !important;
}
.active a {
  color: #000 !important;
}
.active svg {
  color: #000 !important;
}
